*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginForm, .signupForm{
     border: 1px solid black;
     width: 30%;
     margin: auto;
     height: 16rem;
     text-align: center;
     margin-top: 10rem;
}

.field input{
    width: 70%;
    height: 2rem;
    margin-top: 1rem;
}

button{
    margin-top: 1rem;
}

.errorPage{
    height: 15rem;
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 25%;
}

.error1{
   margin-top: 3rem;
}
@media (max-width: 667px) {
    .errorPage{
        margin-top: 80%;
    }
}
.home{
    margin-left: 1.5rem;
}
.holdContent{
    display: flex;
    height: 90vh;
    justify-content: space-around;
}
.content1{
    border: 1px solid black;
    width: 10%;
    text-align: center;
}
a:Link{
    text-decoration: none;
}
.content2{
    border: 1px solid black;
    width: 80%;
}